{% extends "base.html"%}
{% load static %}

{% block content %}
<section class="container  ">
    <div class="row justify-content-around text-center mt-5">
        <div class="col-sm-8 border">
            <h3>Crud operation of Users </h3>

        </div>
        <div class="row justify-content-around mt-3">
            <div class="col-sm-12">
                <a href="{% url 'add_user' %}" class="btn btn-primary float-end ">Add</a>
            </div>

        </div>
        <div class="row justify-content-around text-center mt-1">
            <div class="col-sm-12 border">
                <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">UserName</th>
                          <th scope="col">Email</th>
                          <th scope="col">Role</th>
                          <th scope="col">password</th>
                          <th scope="col">Action</th>
                          
                      </thead>
                      <tbody>
                    {% for cdata in UserModeldata %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{cdata.username}}</td>
                            <td>{{cdata.email}}</td>
                            <td>{{cdata.role}}</td>
                            <td>{{cdata.password}}</td>


                            <td class="d-flex justify-content-center">
                                <table>
                                    <tr>
                                        <td>
                                            <form action="{% url 'delete_usermodel'%}" method='POST'>
                                                {% csrf_token %}
                                                <input type="hidden" name = "id" value={{cdata.id}}>
                                                <input type="Submit" value="Delete" class="btn
                                                btn-danger btn-sm-12">
                                            </form>
                                        </td>
                                        <td>
                                            <a href="{% url 'edit_usermodel' cdata.id %}" class="btn btn-sm-12 btn-info ">Edit</a>
                                        </td>
                                    </tr>
                                </table>

                                <!-- <form action="" method="GET">
                                    <input type="hidden" name="id" value={{cdata.id}}>
                                    <input type="submit" value="Edit" class="btn btn-danger btn-sm" >

                                </form> -->
                                
                                
                                
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    
                </table>
    
            </div>
    
        </div>

    </div>

</section>
{% endblock %}