{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="py-5">
    <div class="container-fluid px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center" style="box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Vote your Favourite Tool</h1>
                <p class="fs-4">It's time to celebrate the tools that power our digital dreams. Cast your vote for your favorite programming language, frameworks, and databases 
                    that have been your trusted companions in crafting incredible software.
                     Your voice matters in recognizing the building blocks of innovation.</p>
                <a class="btn btn-primary btn-lg" href="#votingSection">Let's vote</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}
